{% set loginForm = { "id" : "loginForm" } %}
{% set loginUsername = { "name" : "user", "id" : "user" } %}
{% set loginPassword = { "name" : "password", "id" : "password" } %}
{% set remember = { "name" : "remember", "id" : "checkBoxRemember", "value" : 1 } %}
{% set loginSubmit = { "name" : "loginSubmit", "id" : "loginSubmit", "value" : "Login" } %}

{% set registerForm = { "id" : "registerForm" } %}
{% set registerUsername = { "name" : "username", "id" : "username" } %}
{% set registerPassword = { "name" : "password", "id" : "password" } %}
{% set registerConfirmPassword = { "name" : "confirm_password", "id" : "confirm_password" } %}
{% set email = { "name" : "email", "id" : "email" } %}
{% set lastName = { "name" : "last_name", "id" : "last_name" } %}
{% set firstName = { "name" : "first_name", "id" : "first_name" } %}
{% set middleName = { "name" : "middle_name", "id" : "middle_name" } %}
{% set birthdate = { "name" : "birthdate", "id" : "birthdate" } %}
{% set address = { "name" : "address", "id" : "address", "rows" : 1, "cols" : 20 } %}
{% set gender = { "name" : "gender", "id" : "gender" } %}
{% set genderOptions = { "male" : "Male", "female" : "Female" } %}
{% set registerSubmit = { "name" : "registerSubmit", "id" : "registerSubmit", "value" : "Register" } %}

{% set loginButton = { "name" : "login", "id" : "login", "content" : "Login" } %}
{% set registerButton = { "name" : "register", "id" : "register", "content" : "Register" } %}
<div class="ui-widget-content ffs-content">
	<div class="float-left">
		<h1>{{ title }}</h1>
	</div>

	<div class="float-right">
		<ul class="ui-list" id="accessMenu">
			<li>{{ form_button(loginButton) }}</li>
			<li>{{ form_button(registerButton) }}</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>

{% block bodyJS %}
<script type="text/javascript">
var login=$("<div/>",{id:"loginModal"}).html('{{form_open("process/login",loginForm)}}<table><tr><td>{{form_label("Username/Email",loginUsername.name)}}</td><td>{{form_input(loginUsername)}}</td></tr><tr><td>{{form_label("Password",loginPassword.name)}}</td><td>{{form_input(loginPassword)}}</td></tr><tr><td>&nbsp;</td><td>{{form_checkbox(remember)}}Remember me</td></tr><tr><td>&nbsp;</td><td>{{form_submit(loginSubmit)}}<div id="loginLoading"></div></td></tr></table>{{form_close()}}').css("float","left").insertAfter("body"),register=$("<div/>",{id:"registerModal"}).html('{{form_open("process/register",registerForm)}}<table><tr><td>{{form_label("Username",registerUsername.name)}}</td><td>{{form_input(registerUsername)}}</td></tr><tr><td>{{form_label("Password",registerPassword.name)}}</td><td>{{form_input(registerPassword)}}</td></tr><tr><td>{{form_label("Confirm Password",registerConfirmPassword.name)}}</td><td>{{form_input(registerConfirmPassword)}}</td></tr><tr><td>{{form_label("Email",email.name)}}</td><td>{{form_input(email)}}</td></tr><tr><td>{{form_label("Last name",lastName.name)}}</td><td>{{form_input(lastName)}}</td></tr><tr><td>{{form_label("First name",firstName.name)}}</td><td>{{form_input(firstName)}}</td></tr><tr><td>{{form_label("Middle name",middleName.name)}}</td><td>{{form_input(middleName)}}</td></tr><tr><td>{{form_label("Birth date",birthdate.name)}}</td><td>{{form_input(birthdate)}}</td></tr><tr><td>{{form_label("Address",address.name)}}</td><td>{{form_textarea(address)}}</td></tr><tr><td>{{form_label("Gender",gender.name)}}</td><td>{{form_dropdown(gender.name,genderOptions)}}</td></tr><tr><td>&nbsp;</td><td>{{form_submit(registerSubmit)}}<div id="registerLoading"></div></td></tr></table>{{form_close()}}').css("float","left").insertAfter("body")
</script>
{% endblock %}